#section1 {
  position: absolute;
  top: 300;
  left: 0;
  width: 100%;
  z-index: -5;
}

.limitP {
  height: 80px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-form {
  padding-left: 1.5rem;
  height: 3.5em;
  border-radius: 30px 0px 0px 30px;
  border: none;
  background-color: #e5e7e9;
}

.search-form:focus {
  background-color: #e5e7e9;
}

.search-btn {
  height: 3.5em;
  border-radius: 0px 30px 30px 0px;
  padding-right: 2rem;
  padding-left: 2rem;
  border: none;
  cursor: pointer;
}

.card-img-top {
  height: 140px;
}

h5 .card-title {
  display: block !important ;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: normal;
  max-width: 200px;

  height: 80px;
  margin: 0 auto;
  line-height: 1.3;
  font-size: 18px;
}

.course-card-body {
  height: 15rem;
}

.modal-title {
  font-size: 1.5rem;
}

.card:hover {
  cursor: pointer;
}
