body {
  overflow-x: hidden;
  width: 100%;
  margin-bottom: 5rem;
}

#root {
  margin-bottom: 5em;
}

/* IMAGE */
#img-profile {
  width: auto;
  height: 400px;
}
/* ROCKET */
.rocket-logo {
  width: 60px;
  height: 60px;
}

/*้ HOME */
.home-icon {
  width: 30px;
  height: 30px;
}

/* BACKGROUNDS */

/* NAVBAR */
.navbar {
  font-size: 1.6rem;
}

.navbar-light-orange {
  background-color: #fff0b3;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  font-size: 1.6rem;
  font-weight: bold;
}

/* BUTTONS */
.btn-rounded {
  font-size: 1.6rem;
  border-radius: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn-sm {
  font-size: 1rem;
}

.btn-orange {
  background-color: #ffb24b;
  color: white;
}

.btn-light-orange {
  background-color: #fff0b3;
  color: black;
}

.btn-orange:hover {
  background-color: #eb9828;
}

.btn-extra {
  min-width: 20rem;
  height: 6rem;
  font-size: 2.6rem;
  font-weight: 500;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* TEXT */
.text-orange {
  color: #f29500;
}

.text-extra {
  font-size: 40px !important;
}

/* SVGs */

#left1 {
  position: absolute;
  top: 20%;
  left: -60px;
  z-index: -1;
}

#left2 {
  position: absolute;
  top: 20%;
  left: -50px;
  z-index: -1;
}

#right1 {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .new-section {
    margin-top: 80px;
  }
  /* SHOWCASE */
  .showcase-header {
    margin-top: 30px;
    /* font-size: 35px; */
    font-weight: 500;
  }

  .showcase-text {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 991px) {
  #img-profile {
    height: 230px;
  }
}

@media screen and (max-width: 767px) {
  #big-button {
    text-align: center !important;
  }

  .btn-extra {
    width: 10rem;
    height: 4.5rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .new-section {
    margin-top: 1rem;
  }

  .showcase-header {
    /* font-size: 2rem; */
    font-weight: 500;
    text-align: center;
  }

  .showcase-text {
    font-size: 1rem;
    text-align: center;
  }

  #left1 {
    left: -50%;
  }
}

.footer {
  height: auto;
  margin-top: 50px;
  color: white;
}

.copyR {
  text-align: center;
  font-size: 11px;
}